<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>961394901873-04og4lpa2hmaip3nia83kr68tgekp9uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961394901873-04og4lpa2hmaip3nia83kr68tgekp9uj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPDqoTc_9UBowiv9nxfc1Y-aHw-NcR33g</string>
	<key>GCM_SENDER_ID</key>
	<string>961394901873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.kokitabayashi.firebase-test01</string>
	<key>PROJECT_ID</key>
	<string>fir-test01-a5841</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test01-a5841.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961394901873:ios:191b0c0381835ad3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test01-a5841.firebaseio.com</string>
</dict>
</plist>